*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}
body{
    height: 100vh;
    font-family: sans-serif;
    font-size: 100%;
}
.hero-image{
    background-image: url(../images/landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    color:antiquewhite;
    text-align: center;
}
.hero-text h2{
    font-size: 250%;
    font-weight: 500;
}
.hero-text p{
    font-size: 150%;
    font-weight: 500;
    line-height: 10px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: cadetblue;
    background-color: blanchedalmond;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
}
.hero-btn:hover{
    color: aqua;
    background-color:cornflowerblue ;
}